body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img{
      margin-left: 5rem;
      margin-right: 0;
  }
  input{
      margin-left: 7rem;
      margin-right: 0;
  }
  button{
      width: 35px;
      height: 45px;
      margin-left: 3rem;
  }
  button img{
      width: 30px;
      height: 40px;
  }