body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img{
      margin-left: 5rem;
      margin-right: 0;
  }
  input{
      margin-left: 7rem;
      margin-right: 0;
  }